
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.searcharea{
    position:absolute;

}
.content{
    width: 36rem;
    max-height: 379.2px;
    background: white;
    border-radius: 0.8rem;
    position: absolute;
    left: 0px;
    overflow: auto;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    top: 6rem;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease 0s, top 0.25s ease 0s;
    z-index: 10;
}
.input-group.input-group-unstyled input.form-control {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
border-radius: 4px;
border: 0px;
background-color: transparent;
}
.has-feedback .form-control {
padding-left: 23.5px;
padding-right:0px !important;
}
.glyphicon {
position: absolute !important;
top: 25px !important;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
left: 15px ;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
span.glyphicon.glyphicon-search.form-control-feedback {
left: 215px;
}
.has-feedback{
display:inline-flex;
background:#fff;
border-radius: 5px;
padding: 15px;
width: 750px;
}
#cityselection,#frsearch{
border:none;
}
.form-control{
-webkit-box-shadow:none !important;
}
input#frsearch {
margin-left: 5px;
}
#cityselection{
width: 38%;
}
#frsearch{
width:100%;
}
.listcontent,.searchcontent{

max-height:250px;
width:225px;
overflow:auto;
background: #fff;
}
.listcontent div>p{
padding: 10px;
margin: 0px;
}
.searchcontent {

width: 70%;
float: right;

}
.searchcontent div{
display:inline-flex;
padding: 10px;
}
.searchcontent p{
    padding-top: 15px;
    padding-left: 15px;
    }
.restaurent{
    position: relative;
    max-width: 110rem;
    max-height: initial;
    margin: 1rem auto 0px;
}
.details h4{
    font-weight: 600;
}
.details div {
    margin: 15px 0px;
}
.details p{
    font-size: 15px;
}
.detailscontent{
    margin-bottom: 25px;
}
.menuitems div{
    padding:23px 15px;
}
.detailsheader > li.active > a, .detailsheader > li.active > a:hover, .detailsheader > li.active > a:focus {
    color: rgb(237, 90, 107);
    background-color: #fff;
    border-bottom: 3px solid rgb(237, 90, 107);
    border-radius: 0px;
}
.detailsheader > li{
    font-size: 1.6rem;
    font-weight: 600;
}
.detailsheader > li > a{
    font-size: 1.6rem;
    font-weight: 600;
    color: #636b6f;
}





    /*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  /*
   Styling
  */
  body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 15px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    /* background: #8d8d8d; */
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    /* color: #06c; */
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    /* background: #06c; */
  }
  
  .tabset > input:checked + label {
    /* border-color: #ccc; */
    color:rgb(245, 112, 130);
    border-bottom: 3px solid rgb(245, 112, 130);
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 10px 0;
    border-top: 3px solid #ccc;
    margin-top: -4px;
  }
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  
  
  .tabset {
    max-width: 65em;
  }